.emoji-wrap{
  position: absolute;
  background-color: #fff;
  top: -260px;
  left: -82px;
  width: 224px;
  height: 256px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #ccc;
  padding: 10px;
  box-sizing: border-box;
  &::before{
    position: absolute;
    display: inline-block;
    top: 246px;
    left: 92px;
    width: 0;
    height: 0px;
    content: '';
    border-style: solid;
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg);
    box-shadow: 2px -2px 2px #ccc;
  }
  .emoji-item{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    &:hover{
      font-size: 22px;
    }
  }
}