.wrap{
    height: 100%;
}
.user-wrap{
    background-color: #000;
    width: 70px;
    height: 100%;
    text-align: center;
    float: left;
    position: relative;
    .avatar{
        display: block;
        width: 44px;
        margin-left: 10px;
        height: 44px;
        margin-top: 60px;
        background-image: url('../../../resources/images/users/user.png');
        background-size: contain;
    }
    .chat, .contacts, .collect, .phone, .setting{
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 18px;
        background-image: url('../../../resources/images/icons/bubble.png');
        background-size: contain;
        margin-top: 30px;
        &.active{
            background-image: url('../../../resources/images/icons/bubble_green.png');
        }
    }
    .contacts{
        background-image: url('../../../resources/images/icons/lianxiren.png');
        &.active{
            background-image: url('../../../resources/images/icons/lianxiren_green.png');
        }
    }
    .collect{
        background-image: url('../../../resources/images/icons/lifangti.png');
        &.active{
            background-image: url('../../../resources/images/icons/lifangti_green.png');
        }
    }
    .phone{
        background-image: url('../../../resources/images/icons/shouji.png');
        position: absolute;
        bottom: 90px;
        left: 50%;
        margin-left: -18px;
    }
    .setting{
        background-image: url('../../../resources/images/icons/santiaogang.png');
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -18px;
    }
}